:root {
    --white-color: #fff;
    --black-color: #000;
    --text--color: #333;
    --primary-color: #ee4b2b;
    --header-height: 130px;
    --navbar-height: 36px;
    --header-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px
    62.5% = 10px */
    line-height: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}